*{
    margin: 0px;
    padding: 0%;
    
}
body{
  background-color: #87689a;
}
.head{
  background-color: #514b4b;
}
.hea{
  background-color: antiquewhite;
}

.he{
    text-align: center;
    color: red;
    font-size: 70px;
    font-weight: bold;
    text-decoration: underline;
}
table {
    margin: 70px 100px 30px;
    font-family: arial, sans-serif;
    width: 75%;
  }
  td, th {
    border: 2px solid #998989;
    text-align: center;
    padding: 20px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #logo{
    padding: 10px 10px 10px 10px;
    margin-left: 45%;
    border: 3px solid rgb(86, 78, 78);
    width: 300rem;
    height: 50px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
  }
  #log{
    padding: 10px 10px 10px 10px;
    margin-left: 45%;
    border: 3px solid rgb(86, 78, 78);
    width: 300rem;
    height: 50px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
  }